
body{
    margin: 0px;
    background-image: url('assets/panoramaheader.png');
    background-repeat: no-repeat;
    background-color: #f1f6d0;
}
 
/*--- Nav starts here ---*/ 
nav{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    padding-top: 35px;
    position: absolute;
    left: 350px;
}
nav li{
    display: inline;
    padding: none;
    margin: 30px;
    background-color: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-transform:uppercase;
    font-family: Droid Serif, helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 3px 3px #FFF;
}
nav li a:hover{
    text-decoration: none;
    color: orange;
}
nav li a:visited{
    text-decoration: none;
}
nav li a:link{
    text-decoration: none;
}
nav li a{
    text-decoration: none;
    color: #52575b;
}

/*--- Header starts here ---*/ 
header {
    height: 145px;
}
#logo img{
    width: 230px;
    height: auto;
    margin: 5px;
    position: absolute;
    left: 120px;
} 
/*--- Main starts here ---*/ 
.container {
    font-family: helvetica, verdana;
    padding: 20px;
    width: 900px;
    background-color:rgba(89,178,168,0.38);
    position: relative;
    top: 50px;
    margin-left: auto; 
    margin-right: auto;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}    

.main {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    text-shadow: 0px 3px 3px #FFF;
}
.main h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    top: 75px;
    left: 15px;
}
.main h2 {
    text-align: center;
    font-size: 29pt;
    position: relative;
    left: 15px;
    top: 35px;
    color: green;
}
.main img{
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
.main p {
    font-size: 11pt;
}

#surfboard img{
   width: 650px;
   height: auto;
   position: relative;
   top: 50px;
}
/*--- Footer starts here ---*/     
footer{
    height: 70px;
    width: 100%;
    z-index: 2;       
}
/*--- Rooms.html ---*/    

}
#roomsmain img{
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
#roomsmain p{
    font-size: 14pt;
}
#roomsmain h1{
    color: orange;
    text-shadow: 3px 3px 3px #000;
}
#3person {
    font-weight: bold;
    font-size: 10;
}
/*--- Contact.html ---*/

#contactmain p{
    font-size: 14pt;
}
#contactmain h1{
    color: orange;
    text-shadow: 3px 3px 3px #000;
}
/*--- Menu ---*/

#menumain {
    font-family: helvetica, verdana;
    padding: 0px 20px 20px 20px;
    width: 900px;
    background-color:rgba(89,178,168,0.38);
    position: absolute;
    left: 170px;
    top: 220px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
#menumain p{
    font-size: 14pt;
}
#menumain h1{
    color: orange;
    text-shadow: 3px 3px 3px #000;
}

/*--- Pictures.html --- */

#picturesmain {
    font-family: helvetica, verdana;
    padding: 0px 20px 20px 20px;
    width: 900px;
    background-color:rgba(89,178,168,0.38);
    position: absolute;
    left: 170px;
    top: 220px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
#picturesmain p{
    font-size: 14pt;
}
#picturesmain h1{
    color: orange;
    text-shadow: 3px 3px 3px #000;
}
.fancyboxpics td{
    position: relative;
    left: 183px;
    bottom: 50px;
}
#menutable{
    border-spacing: 20px;
}